<div class="wrapper">
  <h4 class="title">Weather details</h4>
  <ul>
    <li>
      <span class="item-name">Cloudy</span>
      <span class="item-value">{{data.cloudy}}%</span>
    </li>
    <li>
      <span class="item-name">Humidity</span>
      <span class="item-value">{{data.humidity}}%</span>
    </li>
    <li>
      <span class="item-name">Wind</span>
      <span class="item-value">{{data.wind}} km/hour</span>
    </li>
    <li>
      <span class="item-name">Pressure</span>
      <span class="item-value">{{data.pressure}}</span>
    </li>
  </ul>
</div>