.wrapper {

  .title {
    margin-left: 30px;
    color: white;
  }

  ul {
    padding: 0;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;

      .item-name {
        color: rgba(255, 255, 255, 0.5);
      }

      .item-value {
        color: white;
      }
    }
  }
}

@media (max-width: 930px) {
  .title {
    font-size: 14px;
  }
  ul {

    li {
        font-size: 12px;
        padding: 5px 0 !important;
    }
  }
}