<div class="main">
  <div class="weather-info">
    <app-weather-info></app-weather-info>
  </div>
  <div class="wrapper">
    <div class="countries">
      <app-countries></app-countries>
    </div>
    <div class="weather-info-detail">
      <app-weather-info-detail></app-weather-info-detail>
    </div>
  </div>
</div>
<app-spinner></app-spinner>