.main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 30px;

  .weather-info {
    width: 70%;
  }

  .wrapper {
    background: linear-gradient(#2A5C83, #3A638C, #708090);
    width: 30%;
    height: calc(100vh - 60px);
  }
}

@media (max-width: 700px) {
  .main {
    flex-direction: column-reverse;

    .weather-info {
      width: 100%;
    }

    .wrapper {
      width: 100%;
      height: calc(75vh - 60px);
    }
  }
}