.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

 .header {
  display: flex;
  align-items: flex-end;

 
  input {
    margin-left: 30px;
    color: rgb(255, 255, 255, 0.5);
    background-color: transparent;
    padding: 10px 0;
    border: none;
    outline: none;
    width: 70%;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);

    &::placeholder {
      color: rgb(255, 255, 255, 0.5);
    }

    &:focus {
      border-color: white;
    }
  }

  .search-button {
    padding: 0;
    margin: 0;
    background-color: #F4F9FD;
    border: none;
    width: 60px;
    height: 60px;
    margin-left: auto;
    cursor: pointer;
  
    img {
      width: 20px;
      height: 20px;
    }
  }
 }

 .cities {
  list-style-type: none;
  margin: 30px;
  padding: 0;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);  
  max-height: 180px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    min-height: 20px;
    border: none;
    background-color: dodgerblue;
  }

  li {

    button {
      width: 100%;
      text-align: start;
      padding: 10px 0;
      border: none;
      background-color: transparent;
      color: rgb(255, 255, 255, 0.5);
      cursor: pointer;

      &:hover {
       color: white;  
      }
    }
  }
 }
}

@media (max-width: 930px) {
  .wrapper {
    .cities {

      li {
        button {
          font-size: 12px;
          padding: 5px 0 !important;
        }
      }
    }
  }
}

@media (max-width: 700px) {
 .wrapper {
  .cities {
    max-height: 130px;
  }
 }
}
