<div class="wrapper">
  <div class="header">
    <input type="text" placeholder="Another location" [(ngModel)]="searchInput"/>
    <button class="search-button" (click)="onSearchClick()">
      <img src="../../../assets/icons/icons8-search.svg" alt="search-icon" width="30" height="30">
    </button>
  </div>

  <ul class="cities">
    <li *ngFor="let city of cities">
      <button (click)="onCityClick(city.name)">{{ city.name }}</button>
    </li>
  </ul>
</div>