.wrapper {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url('../../../assets/images/jose-g-ortega-castro-tS4Pl_8F3fY-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  
  &.clear {
    background-image: url('../../../assets/images/shining.png');
  }

  &.haze {
    background-image: url('../../../assets/images/STzPBJUsSza3mzUxiplj_DSC09775.avif');
  }

  .info-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    margin-left: 50px;
    margin-bottom: 50px;
    color: white;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);

    .info-cell {
      font-size: 60px;
      line-height: 1;
      margin-right: 20px;
    }

    .info-city {
      font-size: 32px;
    }

    .info-date {
      margin-right: 20px;
      font-size: 14px;
      white-space: nowrap;
    }
  }
}

@media (max-width: 930px) {
.wrapper {
  .info-wrapper {

    .info-cell {
      font-size: 40px;
      line-height: 1;
      margin-right: 20px;
    }

    .info-city {
      font-size: 24px;
    }

    .info-date {
      margin-right: 20px;
      font-size: 12px;
      white-space: nowrap;
    }
  }
}
}

@media (max-width: 700px) {
  .wrapper {
    height: calc(25vh - 60px);

    .info-wrapper {
      margin-left: 10px;
      margin-bottom: 10px;

      .info-cell {
        font-size: 20px;
        line-height: 1;
        margin-right: 5px;
      }
  
      .info-city {
        font-size: 24px;
      }
  
      .info-date {
        margin-right: 5px;
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }
  }