<div class="wrapper" [class.clear]="data.weatherState == 'Clear'" [class.haze]="data.weatherState == 'Haze'">
  <div class="info-wrapper">
    <div class="info-cell">{{data.temp}}°</div>
    <div>
      <div class="info-city">{{data.name}}</div>
      <div class="info-date">{{data.date}}</div>
    </div>
    <div>{{data.weatherState}}</div>
  </div>
</div>