/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  // background-color: #fff;
  background: linear-gradient(#A1D0ED, #4998D1);
}

body::-webkit-scrollbar {
  width: 0;
}